<h1>Comedians</h1>
<div id='average'>
  Average age: <%= @comedians.average_age %>
</div>
<ul>
  <% @comedians.each do |comedian| %>
    <li>
      <%= comedian.name %>, Age: <%= comedian.age %><br/>
      <p id='comedian_<%= comedian.id %>'>Number of Specials: <%= comedian.specials.length %></p>
      <ul>
        <% comedian.specials.each do |special| %>
          <li>
            <%= special.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
